.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 1.5625rem;
    height: 1.5625rem;
    margin: 0.0625rem;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 0.3125rem solid rgb(10, 10, 10);
    border-color: rgb(12, 12, 12) transparent rgb(0, 0, 0) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }