/* Main CSS file */
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import './styles/menu.css';
@import './styles/loadingAnimation.css';
@import './styles/virusTotal.css';
@import './styles/inputform.css';
@import './styles/cve.css';
@import './styles/shiftSum.css';
@import './styles/alert.css';

/*8888888888888888888888888  MAIN BACKGROUND  888888888888888888*/

body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Dosis', sans-serif;
}

/*888888888888888888888888  MENU BUTTON GRAPHICS 8888888888888888*/

#neutrinoAPI{
    background-image: url("../images/electricity.png");
    background-size: 100%
}
#virusTotalAPI{
    background-image: url("../images/scan.png");
    background-size: 100%

}
#cveAPI{
    background-image: url("../images/padlock.png");
    background-size: 100%
}
#shiftComponent{
    background-image: url("../images/notebook.png");
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
#vtsearchBtn,#cveBtn{
    
    background-image: url("../images/play.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

/*88888888888888888888888888888888888888888888888888888888888888888*/

#root{
    height: 100%;
}
.stem{
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    vertical-align: middle;
    overflow: hidden;
}

.ShiftContainer,.VTContainer, .CVEContainer{
    margin-top:-4px;
    padding-top: 5px;
    width: 100%;
    height: 92%;
    background-color: rgba(109, 69, 69, 0.5);
}

  .closeBtn {
    width: 20px;
    height: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.685);
    position: absolute;
    right: 0.3rem;
    top: 5px;
    background-image: url("../images/close.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
  }

  .closeBtn:hover {
    background-color: rgba(214, 168, 168, 0.548);
  }

  
  .closeBtn:active {
    background-color: rgba(255, 255, 255, 0.548);
  }
  

  #createSumBtn, #deleteSelected, #exportTodaySum, #importToStorage, #importFromTxt, #exportToTxt, #exportStorageFile {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
    height: 1.75rem;
    width: 1.75rem;
    border: none;
    margin: 1px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.685);
  }

  #createSumBtn{
    background-image: url("../images/plus-black-symbol.png");
    top:5px;
    left: 840px;
    height: 60px;
  }

  #exportStorageFile{
    background-image: url("../images/share.png");
    top: 0.3rem;
    left: 60.53rem;
    height: 1.79rem;
    width: 1.8rem;
  }

  #importFromTxt{
    background-image: url("../images/importTxt.png");
    top: 2.3rem;
    left: 58.4375rem;
    height: 1.79rem;
    width: 1.8rem;
  }
  #exportToTxt{
    background-image: url("../images/export-file.png");
    top: 2.3rem;
    left: 60.53rem;
    height: 1.79rem;
    width: 1.8rem;
  }

  #importToStorage{
    background-image: url("../images/import.png");
    top: 0.3rem;
    left: 58.4375rem;
    height: 1.79rem;
    width: 1.8rem;
  }

  #deleteSelected{
    background-image: url("../images/delete.png");
    top: 0.3125rem;
    left: 52.5rem;
    height: 60px;
    left: 54.5rem;
  } 

  #exportTodaySum {
    background-image: url("../images/export.png");
    top: 5px;
    left: 56.475rem;
    z-index: 99;
    height: 3.75rem;
  }

#exitBtnS{
  position: relative;
  top: -183px;
  left: 774px;
  height: 1.25rem;
  width: 1.25rem;
  border: none;
  background-image: url(../images/close.png);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 0.1875rem;
}

#copyBtnS{
  position: relative;
  top: -3px;
  right: -714px;
  z-index: 100;
  height: 1.25rem;
  width: 56px;
  margin-right: 0.3125rem;
  border: none;
  border-radius: 0.1875rem;
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
}

.tableDiv{
    height: 84%;
    margin-top: 26px;
    overflow-y: scroll;
}

#copyBtnS:hover, #exitBtnS:hover, #exportTodaySum:hover, #deleteSelected:hover, #createSumBtn:hover,#importToStorage:hover, #importFromTxt:hover, #exportToTxt:hover, #exportStorageFile:hover{
  background-color: rgb(255, 165, 165);
}
#copyBtnS:active, #exitBtnS:active, #exportTodaySum:active, #deleteSelected:active, #createSumBtn:active,#importToStorage:active, #importFromTxt:active, #exportToTxt:active,#exportStorageFile:active{
  background-color: rgba(255, 255, 255);
}